<% provide(:title , "Sign up") %>
<h1>Sign up</h1>
<%= render "shared/errors_messages" %>
<div class="row input-container-main">
  <div class="input-container">
    <%= form_with(model: @user , local: true) do |form| %>
      <%= form.label :name%>
      <%= form.text_field :name, class: 'form-control' %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control'  %>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control'  %>

      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: 'form-control'  %>

    <div class="btn-center">
      <%= form.submit "create" , class: "submit-btn btn btn-primary"%>
    </div>
    <% end %>
    <p>Already have an Account? <span class="orange_link"><%= link_to "Sign-In >" , login_path %></span></p>


  </div>
</div>