<nav>
  <div class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <%= link_to "sample app", root_path , id: "logo" %>
    </div>
    <div class="right_nav">
      <%= link_to "Home",   root_path %>
      <%= link_to "Help",   help_path %>
      <%= link_to "Log in", '#' %>
      <%= link_to "About",   about_path %>
      <%= link_to "Contact", contact_path %>
    </div>
  </div>

</nav>
