<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= render "layouts/shim" %>

  <!-- Bootstrap CSS -->
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" %>

  <!-- Your own CSS (optional) -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body>
  <%= render "layouts/nav" %>


<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</div>

  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" %>

</body>
</html>




